<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <img alt="GF_NLP" src="../static/GF_NLP_transparent.png"  >
    <div class='title'>Consumer Comment Classifier</div>
    <p>
      Checks to see if submitted comments are a <strong>Complaint</strong>, <strong>Compliment</strong>, <strong>Inquiry</strong> or <strong>Request</strong>.
    </p>
    <div class='content'>
        <textarea id=textArea rows="4" cols="50">
          Input comment to be classified here...
        </textarea>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Classify</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
<footer id=pageFooter>
  <p>© 2019 <a href="http://www.sparkflow.com" target="_blank">Sparkflow</a> | 
    <a href="http://jsw.co" target="_blank">J.S. Walker &amp; Company, Inc.</a>
    &nbsp;
    Version <a href="https://github.com/flizzer/fastai-v3/releases/latest">Latest Release</a>
  </p>
</footer>
</body>
</html>
