<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>GF NLP Comment Classifier</div>
    <p>
      Checks to see if submitted comments are a <strong>Complaint</strong>, <strong>Compliment</strong>, <strong>Inquiry</strong> or <strong>Request</strong>.
    </p>
    <div class='content'>
        <textarea id=textArea rows="4" cols="50">
          Input comment to be classified here...
        </textarea>
        <!--input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'-->
      <!--button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button-->
      <!--div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div-->
      <!--div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div-->
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Classify</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
